

.Michroma{
    font-family: Michroma;
}

@font-face {
    font-family: Michroma;
    src: url(../src/assets/fonts/Michroma-Regular.ttf);
}

.image-initial{
    width: 544px;
    height: 874px;
}

.center{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}